BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_INFINITE_SSO_ID=
BETTER_AUTH_INFINITE_SSO_SECRET=
BETTER_AUTH_INFINITE_SSO_DISCOVERY_URL=
NEXT_PUBLIC_INFINITY_API_URL=
NEXT_PUBLIC_INFINITY_API_TIMEOUT=
