@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities) important;

@theme {
  --color-neutral-*: initial;
  --color-primary-0: '#000000';
  --color-primary-5: '#00150b';
  --color-primary-10: '#002114';
  --color-primary-15: '#002c1c';
  --color-primary-20: '#003825';
  --color-primary-25: '#00452e';
  --color-primary-30: '#005237';
  --color-primary-35: '#105e41';
  --color-primary-40: '#226a4d';
  --color-primary-50: '#3e8464';
  --color-primary-60: '#589e7d';
  --color-primary-70: '#73b997';
  --color-primary-80: '#8ed5b1';
  --color-primary-90: '#a9f2cc';
  --color-primary-95: '#beffdc';
  --color-primary-98: '#e8fff0';
  --color-primary-99: '#f4fff6';
  --color-primary-100: '#ffffff';
  --color-secondary-0: '#000000';
  --color-secondary-5: '#01150c';
  --color-secondary-10: '#0a1f16';
  --color-secondary-15: '#152a20';
  --color-secondary-20: '#1f352a';
  --color-secondary-25: '#2a4035';
  --color-secondary-30: '#364b40';
  --color-secondary-35: '#41574b';
  --color-secondary-40: '#4d6357';
  --color-secondary-50: '#657c6f';
  --color-secondary-60: '#7f9688';
  --color-secondary-70: '#99b1a2';
  --color-secondary-80: '#b4ccbd';
  --color-secondary-90: '#cfe9d8';
  --color-secondary-95: '#def7e6';
  --color-secondary-98: '#e8fff0';
  --color-secondary-99: '#f4fff6';
  --color-secondary-100: '#ffffff';
  --color-tertiary-0: '#000000';
  --color-tertiary-5: '#00131b';
  --color-tertiary-10: '#001f29';
  --color-tertiary-15: '#002a36';
  --color-tertiary-20: '#063543';
  --color-tertiary-25: '#16404e';
  --color-tertiary-30: '#244c5a';
  --color-tertiary-35: '#305766';
  --color-tertiary-40: '#3d6473';
  --color-tertiary-50: '#567c8c';
  --color-tertiary-60: '#7096a7';
  --color-tertiary-70: '#8ab1c2';
  --color-tertiary-80: '#a5cdde';
  --color-tertiary-90: '#c0e9fb';
  --color-tertiary-95: '#def4ff';
  --color-tertiary-98: '#f3faff';
  --color-tertiary-99: '#fafdff';
  --color-tertiary-100: '#ffffff';
  --color-neutral-0: '#000000';
  --color-neutral-5: '#0d120f';
  --color-neutral-10: '#171d19';
  --color-neutral-15: '#212723';
  --color-neutral-20: '#2c322e';
  --color-neutral-25: '#373d39';
  --color-neutral-30: '#424844';
  --color-neutral-35: '#424844';
  --color-neutral-40: '#5a605b';
  --color-neutral-50: '#737874';
  --color-neutral-60: '#8c928d';
  --color-neutral-70: '#a7ada7';
  --color-neutral-80: '#c2c8c2';
  --color-neutral-90: '#dee4de';
  --color-neutral-95: '#edf2ec';
  --color-neutral-98: '#f5fbf5';
  --color-neutral-99: '#f8fef8';
  --color-neutral-100: '#ffffff';
  --color-neutral-variant-0: '#000000';
  --color-neutral-variant-5: '#0b130e';
  --color-neutral-variant-10: '#151d19';
  --color-neutral-variant-15: '#1f2823';
  --color-neutral-variant-20: '#2a322d';
  --color-neutral-variant-25: '#353d38';
  --color-neutral-variant-30: '#404943';
  --color-neutral-variant-35: '#4c554f';
  --color-neutral-variant-40: '#58605a';
  --color-neutral-variant-50: '#707973';
  --color-neutral-variant-60: '#8a938c';
  --color-neutral-variant-70: '#a4ada6';
  --color-neutral-variant-80: '#c0c9c1';
  --color-neutral-variant-90: '#dce5dd';
  --color-neutral-variant-95: '#eaf3eb';
  --color-neutral-variant-98: '#f3fcf4';
  --color-neutral-variant-99: '#f5fff6';
  --color-neutral-variant-100: '#ffffff';
  --color-error-0: '#000000';
  --color-error-5: '#2d0001';
  --color-error-10: '#410002';
  --color-error-15: '#540003';
  --color-error-20: '#690005';
  --color-error-25: '#7e0007';
  --color-error-30: '#93000a';
  --color-error-35: '#a80710';
  --color-error-40: '#ba1a1a';
  --color-error-50: '#de3730';
  --color-error-60: '#ff5449';
  --color-error-70: '#ff897d';
  --color-error-80: '#ffb4ab';
  --color-error-90: '#ffdad6';
  --color-error-95: '#ffedea';
  --color-error-98: '#fff8f7';
  --color-error-99: '#fffbff';
  --color-error-100: '#ffffff';

  --color-infinite-light-green: '#338361';
  --color-infinite-dark-green: '#2ad883';
}

@theme inline {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-source-code-pro);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
